#kendoListview {
    padding: 10px 5px;
    margin-bottom: -1px;
}
.product {
    float: left;
    position: relative;
    width: 175px;
    height: 295px;
    margin: 0 5px 55px 5px;
    padding: 0;
}

.productImage {
    height: 260px;
    overflow: hidden;
    text-align: center;
}

.product img {
	max-width: 175px;
    max-height: 260px;
}

.productDescription {
	
}

.product a {
	color: #0066cc;
	font-weight: bold;
	text-decoration: none;
}

.product a:hover {
	color: #F47F24;
	text-decoration: underline;
}

.product h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-height: 300px;
    text-align: center;
}
.product p {
    visibility: hidden;
}
.product:hover p {
    visibility: visible;
    position: absolute;
    width: 175px;
    height: 260px;
    top: 0;
    margin: 0;
    padding: 0;
    line-height: 250px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,0.60);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}
.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}