body {
	font-family: Arial, Helvetica, sans-serif;
}

#searchBar {
	padding-left: 10px;
}

#keywords {
	width: 200px;
}

div.k-widget, div.k-slider
{
	margin-left: 10px;
}

div.k-loading-mask {
	
}

div.sectionSliderPrice {
	margin-bottom: 30px;
}

#categories {
	float: left;
	width: 270px;
	height: 100%;
	overflow: auto;
}

#categories div.sectionTitle {
	margin-bottom: 10px;
}

#categories div.sectionCategory {
	margin-left: 10px;
}

#searchQueryResults {
	display: table-cell;
    width: 100%;
}

#results {
    margin-top: 14px;
    height: 650px;
}
